#login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

#login-box {
    width: 500px;
    margin:auto;
}

* {
    background-color: blue;
}

h2 {
    color: red;
}