/*Selector{
	Property: value;
}*/
body{
	background-image: url(back.jpg);
	background-size: cover;
}

h1 {
	color: rgb(0, 87, 0);
	text-align: center;
	border: 5px dashed rgb(255, 166, 0);
	cursor: crosshair;
	}

img{
	float: right;
}

p{
	text-align: center;
	color: antiquewhite;
}

footer{
	color: antiquewhite;
}

a:hover{
	color: green;
}