<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <h1> These are all of your animals </h1>
   
    {%for animal in all_animals%}
    <ol>
    <li>Animal ID: {{animal.id}}</li>
    <li>Number of legs: {{animal.legs}}</li>
    <li>Weight: {{animal.weight}}</li>
    <li>Speed: {{animal.speed}}</li>
    <li>Family: {{animal.family.name}}</li>
    <li><a href='{% url "animal" animal.id %}'> View Animal</a></li>
    </ol>
    {%endfor%}
    {% load static %}
        <img src="{% static '../static/fish.jpg' %}" alt="My image">    
</body>
</html>