<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<body>
    <h1> This is the animal </h1>
    <ol>
    
    <li>Animal ID: {{animal.id}}</li>
    <li>Number of legs: {{animal.legs}}</li>
    <li>Weight: {{animal.weight}}</li>
    <li>Speed: {{animal.speed}}</li>
    <li>Family: {{animal.family.name}}</li>

    </ol>
</body>
</html>