{% extends 'base.html' %}

{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to the F1 Card Trading Game</h1>  
   
    {% if user.is_authenticated %}
    <h1>Hi {{user.username}}</h1>
    
    <a href="{% url 'view_cards' %}"><button class="btn btn-outline-light" >Your Cards</button></a>
    <a href="{% url 'marketplace' %}"><button class="btn btn-outline-light" >Marketplace</button></a>
    
    
{% else %}
    <a href="{% url 'login' %}"><button class="btn btn-outline-light"> Login</button></a>
    <a href="{% url 'signup' %}"><button class="btn btn-outline-light" >Sign up</button></a>
    {% endif %}
    
    <a href="{% url 'all_drivers' %}"><button class="btn btn-outline-light" >All Drivers</button></a>
</div>
  </div>


{% endblock %}