{% extends 'base.html' %}

{% block content %}
<div class="card-columns">
   {% for driver in page_obj %}

   <div class="card" style="width: 20rem;">
    <img src="{{driver.image.url}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{driver.name}}</h5>
      <p class="card-text">
        <li>Team: {{driver.team.name}}</li>
        <li>Nationality: {{driver.nationality}}</li>
        <li>Championship position: {{driver.position}}</li>
        <li>Points: {{driver.points}}</li>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
   {% endfor %}
   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><button type="button" class="btn btn-outline-dark">First</button></a>
            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-outline-dark">Previous</button></a>
        {% endif %}

        
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-outline-dark">Next</button></a>
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-outline-dark">Last</button></a>
        
        {% endif %}
    </span>
</div>

</div>



{% endblock %}