{% extends 'base.html' %}

{% block content %}
    <div class="card-columns">

       {% for card in cards %}
    
       <div class="card" style="width: 20rem;">
        <img src="{{card.driver.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.driver.name}}</h5>
          <p class="card-text">
              <li>Team: {{card.driver.team.name}}</li>
              <li>Nationality: {{card.driver.nationality}}</li>
              <li>Championship position: {{card.driver.position}}</li>
              <li>Points: {{card.driver.points}}</li>
          
        </p>
        {% if card.trade_status %}
        <button card_id={{card.id}} class="trading btn btn-warning">Trading</button>
        {% else %}
        <button card_id={{card.id}} class="trade btn btn-primary">Trade</button>
        {% endif %}
        </div>
      </div>
      {% endfor %}
      
    

</div>

<script>
  
  document.addEventListener('click', function(event){
    
    const element = event.target
    const card_id = element.getAttribute('card_id')
    const url = "{% url 'trade' %}"
    const csrftoken = getCookie('csrftoken')
    fetch(url, {
      method: 'POST',
      headers: {"X-CSRFToken": csrftoken, 'Content-Type': 'application/json'},
      body: JSON.stringify({'card_id': card_id})
    })
    .then((response) => response.json())
    .then((data) => {
      if (data['status']== 'success'){
        toggleTrade(element)
      }
    })
  })
  
  function toggleTrade(element){
    if (element.classList.contains('trading')){
      element.innerText = 'Trade'
      element.classList.add('btn-primary')
      element.classList.remove('btn-warning')
      element.classList.remove('trading')
    }
    else{
      element.innerText = 'Trading'
      element.classList.add('btn-warning')
      element.classList.add('trading')
      element.classList.remove('btn-primary')
      element.classList.remove('trade')


    }

  }
</script>
{% endblock %}

